.canvas {
	-fx-background-color: snow;
}

.btnPlay {
	-fx-background-image: url("btnPlay.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnStop {
	-fx-background-image: url("btnStop.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnRec {
	-fx-background-image: url("btnRec.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnStopRec {
	-fx-background-image: url("btnStopRec.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnFile {
	-fx-background-image: url("btnFile.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnRepeat {
	-fx-background-image: url("btnRepeat.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnLooper {
	-fx-background-image: url("btnLooper.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnAddLoop {
	-fx-background-image: url("btnAddLoop.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.btnNote {
	-fx-background-image: url("btnNote.png");
	-fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}

.background {
	-fx-background-image: url("bg.jpg");
	-fx-background-size: 100% 100%;
}

.loopEnd {
	-fx-cursor: hand;
}

.btnRestartLooper {
	-fx-background-image: url("btnRestartLooper.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;
	-fx-cursor: hand;
}